/* snippets */

.snip1369 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    background: #20638f;
    text-align: left;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.snip1369 > img,
.snip1369 .image img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    max-width: 100%;
}
.snip1369 > img {
    vertical-align: top;
    position: relative;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.6;
}

.snip1369 .image {
    position: absolute;
    top: 0;
    bottom: 25%;
    right: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.2);
}

.snip1369 figcaption {
    position: absolute;
    top: 75%;
    bottom: 46px;
    left: 20px;
    right: 20px;
    border-bottom: 2px solid #ffffff;
    padding-top: 20px;
    z-index: 1;
}
.snip1369 h3,
.snip1369 p {
    margin: 0;
}

.snip1369 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 0;
}
.snip1369 .read-more {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 20px;
    color: #ffffff;
    right: 0;
    bottom: 0;
    font-weight: 500;
    position: absolute;
}
.snip1369 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
.snip1369:hover .read-more,
.snip1369.hover .read-more,
.snip1369:hover figcaption,
.snip1369.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.snip1369:hover figcaption,
.snip1369.hover figcaption,
.snip1369:hover .image,
.snip1369.hover .image {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.snip1369:hover figcaption,
.snip1369.hover figcaption {
    top: 50%;
}
.snip1369:hover .image,
.snip1369.hover .image {
    bottom: 50%;
}
.snip1369:hover p,
.snip1369.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1143 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #000000;
}
.snip1143 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1143 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}
.snip1143 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}
.snip1143 a:before,
.snip1143 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1143 a:before {
    top: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #c0392b;
}
.snip1143 a:after {
    padding: 0.3em 0;
    position: absolute;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}
.snip1143 li:hover a,
.snip1143 .current a {
    transform: translateY(-100%);
}
/* code perso */
.corps{
    display: flex;
    flex-wrap : wrap;
    width: 100%;
    margin-bottom: 5%;
}

.corpsEVO{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
.snip1369{
    margin: 0 auto 0 auto;
}
header{
    margin: 0 0 2% 0;
    padding: 0.5%;
    background-color: black;
}
footer{
    background-color: black;
    display: flex;
    width: 100%;
    bottom:0;

}
footer ul{
    justify-content: right;
    display: inline-block;
    margin: 2% auto;
}
footer a {
    color: white;
}
#evo{
    width: 80%;
    margin: 0 auto 0 auto;
}
#evo h1{
    text-align: center;
    font-size: 60px;
}
#txtEVO  {
    border : 1px solid black;
    width: 40%;
    margin-right: 5%;
    padding: 2%;
}
#evo h2 {
    font-size: 52px;
    text-align: center;
}

.game {
    width: 40%;
}
.imageJoueur{
    width: 15%;
    margin-right: 5%;
}
#evo h3 {
    font-size: 30px;
    width: 100%;
}
#evo img {
    width: 100%;
    margin-right: 2%;
}
#evo h4 {
    font-size: 25px;
    margin-right: 2%;
}
#evo h5{
    font-size: 20px;
}


#histoire {
    width: 80%;
    margin: 2% auto;
}
#histoire figure{
    display: flex;
}
#histoire p{
    margin-left: 0.5%;
}
#histoire img {
    width: 20%;
}

@media screen and (max-width: 1200px) {
    .corpsEVO{
        flex-direction: column;
    }
    #txtEVO  {
        border : 1px solid black;
        width: 100%;
        margin-right: 0%;
        padding: 2%;
    }
    .snip1369{
        margin-bottom: 5%;
    }
    iframe{
        margin-top: 5%  ;
    }
    #evo h1{
        font-size: 45px;
    }
    #evo h2 {
        font-size: 40px;
    }
    #evo h3 {
        font-size: 20px;
    }
    #evo h4 {
        font-size: 18px;
    }
    #evo h5{
        font-size: 14px;
    }

    #histoire figure{
        flex-direction: column;
    }
}
@media screen and (max-width: 639px) {
    #evo h1{
        font-size: 35px;
    }
    #evo h2 {
        font-size: 30px;
    }
    #evo h3 {
        font-size: 16px;
    }
    #evo h4 {
        font-size: 14px;
    }
    #evo h5{
        font-size: 12px;
    }
    header ul{
        display: flex;
        flex-direction: column;
    }
    header a{
        padding-bottom: 2%;
    }
}
body{
    margin: 0%;
}